@import './reset';
@import './variables';

.box {
    position: relative;
    width: 35rem;
    background-color: $secondary-color;
    border-radius: 3px;
    margin: 0 auto;
    padding: 1rem 1.2rem 1.8rem;
    box-shadow: rgba(0, 0, 0, .2) 0px 20px 30px;
}

.container {
    padding: 2rem;
    transition: $animation;

    h1 {
        text-align: center;
        margin-bottom: 2rem;
        letter-spacing: .675px;
    }
    
    #modal_trigger {
        position: absolute;
        left: 45%;
        padding: 1.4rem 1.38rem;
        border: none;
        border-radius: 50%;
        color: $secondary-color;
        background-color: $primary-color;
        transition: $animation;
        cursor: pointer;

        &:hover {
            background-color: $primary-hover;
            transform: rotate(180deg);
            transition: $animation;
        }
    }
}

li {
    position: relative;
    padding: .7rem 1.5rem .7rem .7rem;
    margin: .7rem 0;
    list-style: none;
    display: flex;
    align-items: center;
    background-color: $tersier-color;

    i {
        position: absolute;
        right: .5rem;
        border: none;
        padding: .2rem;
        background-color: transparent;
        color: $primary-color;
        cursor: pointer;
    }
}

.modal {
    display: none;
    position: relative;
    border-radius: 3px;
    margin: auto;
    z-index: 10;
    text-align: center;
    width: 25rem;
    padding: 15px;
    top: -3rem;
    transition: $animation;
    background-color: $secondary-color;
    box-shadow: rgba(0, 0, 0, .2) 0px 20px 30px;
    transition: $animation;

    #close {
        position: absolute;
        right: -.5rem;
        top: -.8rem;
        border: none;
        border-radius: 50%;
        background-color: $secondary-color;
        border: 2px solid $primary-color;
        padding: .5rem .7rem;
        color: $primary-color;
        cursor: pointer;
        transition: $animation;

        &:hover {
            background-color: $primary-color;
            color: $secondary-color;
        }

    }

    h2 {
        margin-bottom: 2rem;
        letter-spacing: .675px;
    }

    input {
        font-family: $font-family;
        padding: .3rem;
        margin-bottom: 7px;
        font-size: .9rem;
        letter-spacing: .675px;
        outline: none;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid $tersier-color;
        transition: $animation;

        &:focus {
            outline: none;
            border-bottom: 2px solid $primary-color;
            transition: $animation;
        }
    }

    #add {
        font-family: $font-family;
        border: none;
        border-radius: 3px;
        background-color: $primary-color;
        color: $secondary-color;
        padding: .4rem .6rem;
        margin-left: .3rem;
        cursor: pointer;
        transition: $animation;

        &:hover {
            background-color: $primary-hover;
            transition: $animation;
        }
    }
}

@media screen and (max-width: 640px) {
    .container {
        width: 100%;
        padding: 2rem 1rem;
    }

    .box {
        width: 100%;
    }

    .modal {
        width: 85%;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 350px) {
    .modal #add {
        margin-top: .5rem;
    }
}