* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e2e2e2;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.box {
  position: relative;
  width: 35rem;
  background-color: #f8f8f8;
  border-radius: 3px;
  margin: 0 auto;
  padding: 1rem 1.2rem 1.8rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.container {
  padding: 2rem 2rem 3rem;
  transition: all 0.4s ease-in-out;
}

.container h1 {
  text-align: center;
  margin-bottom: 1.8rem;
  letter-spacing: .675px;
}

li {
  position: relative;
  padding: .7rem 1.5rem .7rem .7rem;
  margin: .7rem 0;
  list-style: none;
  display: flex;
  align-items: center;
  background-color: #eee;
}

li i {
  position: absolute;
  right: .5rem;
  border: none;
  padding: .2rem;
  background-color: transparent;
  color: #5f42e0;
  cursor: pointer;
}

.wrap {
  display: flex;
  justify-content: center;
}

.wrap #modal_trigger {
  position: absolute;
  padding: 1.4rem 1.38rem;
  border: none;
  border-radius: 50%;
  color: #f8f8f8;
  background-color: #5f42e0;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.wrap #modal_trigger:hover {
  background-color: #562abe;
  transform: rotate(180deg);
  transition: all 0.4s ease-in-out;
}

.modal {
  display: none;
  position: relative;
  border-radius: 3px;
  margin: auto;
  z-index: 10;
  text-align: center;
  width: 25rem;
  padding: 15px;
  top: -3rem;
  transition: all 0.4s ease-in-out;
  background-color: #f8f8f8;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  transition: all 0.4s ease-in-out;
}

.modal #close {
  position: absolute;
  right: -.5rem;
  top: -.8rem;
  border: none;
  border-radius: 50%;
  background-color: #f8f8f8;
  border: 2px solid #5f42e0;
  padding: .5rem .7rem;
  color: #5f42e0;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.modal #close:hover {
  background-color: #5f42e0;
  color: #f8f8f8;
}

.modal h2 {
  margin-bottom: 2rem;
  letter-spacing: .675px;
}

.modal input {
  font-family: "Poppins", sans-serif;
  padding: .5rem;
  margin-bottom: 7px;
  font-size: .9rem;
  letter-spacing: .675px;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  transition: all 0.4s ease-in-out;
}

.modal input:focus {
  outline: none;
  border-bottom: 2px solid #5f42e0;
  transition: all 0.4s ease-in-out;
}

.modal #add {
  font-family: "Poppins", sans-serif;
  font-size: .9rem;
  border: none;
  border-radius: 3px;
  background-color: #5f42e0;
  color: #f8f8f8;
  padding: .6rem 1.1rem;
  margin-left: .3rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.modal #add:hover {
  background-color: #562abe;
  transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 640px) {
  .container {
    width: 100%;
    padding: 2rem 1rem 3rem;
  }
  .box {
    width: 100%;
  }
  .modal {
    width: 85%;
    margin-top: 1.2rem;
  }
}

@media screen and (max-width: 400px) {
  .modal #add {
    margin-top: .5rem;
  }
  .modal input {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */